
/* All chats */

.all-chats-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: white;
  width: 380px;
  height: 100vh;
  border: 1px solid #ddd;
}

@media (max-width : 768px){
  .all-chats-container{
    width: 33%;
  }
}

.all-chats-header {
  padding: 10px 0;
  font-size: 1.75rem;
  font-family: "Work Sans", sans-serif;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.search-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
  gap: 10px;
}

.search-bar {
  width: 100%;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  font-size: 1rem;
}

.search-btn{
  background-color: #38B2AC;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
}

.search-result-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.search-result{
  background-color: #E8E8E8;
  padding: 5px 10px;
  border-radius: 10px;
}

.chats-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

.chat-item {
  cursor: pointer;
  align-items: center;
  background-color: #E8E8E8;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}

.chat-item-selected {
  background-color: #38B2AC;
  color: white;
}


.my-chats {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: white;
    width: 100%;
    height: 100vh;
  }
  
  .my-chats.none {
    display: none;
  }
  
  @media (min-width: 768px) {
    .my-chats {
      display: flex !important;
    }
  }

  

  .chat-header {
    font-size: 28px;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Work sans";
  }
  
  .chat-header .back-button {
    display: none;
  }
  
  @media (max-width: 767px) {
    .chat-header .back-button {
      display: flex;
      font-size: 24px;
      background: none;
      border: none;
      cursor: pointer;
    }
  }
  
  .chat-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1rem;
    background-color: #e8e8e8;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    overflow-y: hidden;
  }
  
  
  .messages {
    overflow-y: scroll;
    max-height: calc(100% - 2rem);
  }
  
  .chat-footer {
    display: flex;
    align-items: center;
    
    margin-top: 1rem;
  }
  
  .chat-footer input {
    flex: 1;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #e0e0e0;
  }
  
  .typing-animation {
    margin-bottom: 15px;
    margin-left: 0;
  }
  
  .no-chat-selected {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .no-chat-selected p {
    font-size: 24px;
    font-family: "Work sans";
  }

